<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://b2c.test.yekmob.com/pic/products/196f6750-ecde-4808-bf6b-5552e6f517a5.jpg</string>
	<string>http://b2c.test.yekmob.com/pic/products/1370240190-399212-51ac34be879f5.jpg</string>
	<string>http://b2c.test.yekmob.com/pic/products/1370240190-231369-51ac34be88fa7.jpg</string>
	<string>http://b2c.test.yekmob.com/pic/products/1370240190-934851-51ac34be8a818.jpg</string>
	<string>http://b2c.test.yekmob.com/pic/products/1370240190-144082-51ac34be8be60.jpg</string>
</array>
</plist>
